@inject HttpClient Http

<div class="dashboard-item due-positions">
    <h6>Due Positions</h6>
    @if (!HasLoaded)
    {
        <div class="spinner-border text-secondary custom-spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        <TableTemplate Items="Jobs" Context="job" IsSmall="true">
            <TableHeader>
                <th scope="col">Position</th>
                <th scope="col">Due Date</th>
            </TableHeader>
            <NoDataTemplate>
                <td colspan="2">No Positions</td>
            </NoDataTemplate>
            <RowTemplate>
                <td>
                    <NavLink href="@($"Jobs/{job.Id}")">
                        @job.Title
                    </NavLink>
                </td>
                <td>@job.Expires.ToString("dd/MM/yyyy")</td>
            </RowTemplate>
        </TableTemplate>
    }
</div>

@code {
    public List<Job>? Jobs { get; set; } = new();
    public bool HasLoaded;

    protected override async Task OnInitializedAsync()
    {
        Jobs = await Http.GetFromJsonAsync<List<Job>>("api/Jobs/Due");
        HasLoaded = true;
    }

}
