.page {
    position: relative;
    display: flex;
}

main {
    flex: 1;
}

.sidebar {
    background: #3845bf;
}

.content {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }

    main {
        width: 100%;
    }
}

@media (min-width: 641px) {

    .sidebar {
        width: 250px;
        min-width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    ::deep .top-menu, .content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    main {
        /*background-color: #F1F5FA;*/
        width: calc(100% - 250px);
    }
}
