input[type="search"] {
    width: 280px;
    outline: none;
    border: 2px solid #eee;
    border-radius: 0.25rem;
    color: #555;
    overflow: hidden;
    padding: 5px 12px;
    padding-left: 32px;
}

input[type="search"]:focus {
    border-color: #3845bf;
}

.svg-container {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.svg-container svg {
    color: grey;
}

.outside-clickable-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.search-result-container {
    position: relative;
    z-index: 9999;
}

.search-result {
    position: absolute;
    background: white;
    border-radius: 0.25rem;
    border: 1px solid #eee;
    width: 450px;
    z-index: 20;
    margin-top: 0.25rem;
    display: none;
}

.search-result-content {
    padding: 1rem;
    transition: margin-top .2s;
}

.search-result.show {
    display: block;
}

::deep a:hover {
    background: #f4f6f8;
    border-radius: 0.25rem;

}

a img {
    margin-right: 10px;
}

a span:not(.avatar) {
    font-size: 15px;
    color: #2d384a;
    font-weight: 400;
}

.search-result-content h6 {
    font-size: 0.875rem;
    color: #2d384a;
}