@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <TopMenu />
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>