.navbar-toggler {
    border: none;
}

.top-row {
    height: 5rem;
    background: #3845bf;
}

.navbar-brand {
    padding: 0 12px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-bottom: 0.25rem;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: rgba(255,255,255,0.85);
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 0.25rem;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.2);
    color: white;
}


.nav-link .feather {
    margin-right: 0.75rem;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.divider {
    background-color: rgba(255,255,255,0.2);
    height: 1px;
    margin: 5px 15px;
    position: relative;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
