@inject HttpClient Http

<div class="pdf-viewer">
    @if (IsRemote)
    {
        if (!HasLoaded)
        {
            <span class="fs-14 text-secondary py-2">Loading...</span>
        }
        else
        {
            <iframe src="@Base64Pdf#view=FitH" style="width:100%; height:750px;"></iframe>
        }
    }
    else
    {
        <iframe src="@DocumentPath#view=FitH" style="width:100%; height:750px;"></iframe>
    }
</div>

@code {
    [Parameter]
    public string? RemotePath { get; set; }

    [Parameter]
    public string? DocumentPath { get; set; }

    private string? Base64Pdf { get; set; }

    private bool HasLoaded;

    private bool IsRemote => !string.IsNullOrEmpty(RemotePath);

    protected override async Task OnParametersSetAsync()
    {
        Base64Pdf = null;
        
        // Remote has precedence over local (DocumentPath)
        if (IsRemote)
        {
            await LoadRemotePdf();
        }
    }

    private async Task LoadRemotePdf()
    {
        HasLoaded = false;
        var result = await Http.GetAsync(RemotePath);
        if (result.IsSuccessStatusCode)
        {
            var bytes = await result.Content.ReadAsByteArrayAsync();
            var base64String = Convert.ToBase64String(bytes);
            Base64Pdf = "data:application/pdf;base64," + base64String;
            HasLoaded = true;
        }
    }

}
