@page "/"
@using Recruit.Client.Pages.DashboardPages
@inject HttpClient Http
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <h3>Hello, @context.User?.FindFirst("full_name")?.Value.Split(" ")[0]!</h3>
    <div class="dashboard mt-3">
        <UpcomingInterviews OnSelectApplicant="ShowDetails" />
        <RecentApplicants OnSelectApplicant="ShowDetails" />
        <DuePositions />
    </div>
    <ApplicantDetails Applicant="CurrentApplicant"
                      OnStageUpdate="() => {}"
                      OnClose="HideDetails" />
</AuthorizeView>

@code {
    private Applicant? CurrentApplicant { get; set; }

    private void ShowDetails(Applicant? applicant)
    {
        CurrentApplicant = applicant;
    }

    private void HideDetails()
    {
        CurrentApplicant = null;
    }
}