@page "/Success"
@model SuccessModel
@{
    ViewData["Title"] = "Success Submision";
}

<h3>Your application has been submited successfully.</h3>
<p>Thank you for applying for this job.</p>

<a class="text-decoration-underline" asp-area="" asp-page="/Index">
    Go back to Job Openings
</a>