@inject HttpClient Http

<div class="dashboard-item due-positions" style="width: 27%">
    <h6>Due Positions</h6>
    <div class="table-wrapper table-responsive border-0">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Due Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Positions == null || Positions.Count == 0)
                {
                    <tr>
                        <td colspan="1">There are no interviews today.</td>
                    </tr>
                }

                @foreach (var item in Positions ?? Enumerable.Empty<Job>())
                {
                    <tr>
                        <td class="no-border">
                            <NavLink href="@($"Jobs/{item.Id}")">
                                @item.Title
                            </NavLink>
                        </td>
                        <td class="no-border">@item.Expires.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    public List<Job>? Positions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Positions = await Http.GetFromJsonAsync<List<Job>>("api/Jobs/Due");
    }

}
