@page "/Register"
@layout EmptyLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors ?? Enumerable.Empty<string>())
        {
            <p>@error</p>
        }
    </div>
}

<div class="row justify-content-center auth-wrapper">
    <div class="col-12 col-md-5 col-lg-4 bg-white box-shadow p-25">
        <div class="text-center">
            <h1 class="fw-400">Sign up</h1>
            <p class="text-muted mb-0">Create an account to start using Recruit.</p>
        </div>
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration" class="row g-2">
            <DataAnnotationsValidator />
            <div class="col-12">
                <ValidationSummary />
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <InputText id="email" @bind-Value="RegisterModel.Email" class="form-control" />
            </div>
            <div class="col-12">
                <label for="fullName" class="form-label">Full Name</label>
                <InputText id="fullName" @bind-Value="RegisterModel.FullName" class="form-control" />
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <InputText id="password" type="password" @bind-Value="RegisterModel.Password" class="form-control" />
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Confirm Password</label>
                <InputText id="password" type="password" @bind-Value="RegisterModel.Password" class="form-control" />
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary fs-14 fw-500 py-2 w-100" disabled="@IsDisabled">
                    @if (IsDisabled)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    Sign up
                </button>
            </div>
            <div class="col-12 mt-3">
                <p class="text-muted fs-14 mb-2">
                    Already have an account?
                    <NavLink href="Login" class="text-primary fw-500">
                        Sign in
                    </NavLink>
                </p>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private UserViewModel RegisterModel = new UserViewModel();
    private bool ShowErrors;
    public bool IsDisabled { get; set; }

    private IEnumerable<string>? Errors;

    private async Task HandleRegistration()
    {
        ShowErrors = false;
        IsDisabled = true;

        var result = await AuthService.Register(RegisterModel);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/Login");
        }
        else
        {
            Errors = result?.Errors;
            ShowErrors = true;
        }

        await Task.Delay(2000);
        IsDisabled = false;
    }

}