@page "/Jobs/{id}/Application"
@model JobApplicationModel
@{
    ViewData["Title"] = "Job Application";
}

<form method="post" class="row g-3 application-form" enctype="multipart/form-data">
    <a asp-area="" asp-page="/JobDetails" asp-route-id="@Model.Id">Back</a>
    <h3 class="mt-1">@JobApplicationModel.Job?.Title</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger my-0"></div>
    <span class="text-danger mt-0">@Html.ValidationSummary(false)</span>
    <input asp-for="Application.JobId" type="hidden" value="@Model.Id" />
    <div class="col-6 mt-1">
        <label asp-for="Application.FirstName" class="form-label required"></label>
        <input asp-for="Application.FirstName" class="form-control" />
        <span asp-validation-for="Application.FirstName" class="text-danger"></span>
    </div>
    <div class="col-6 mt-1">
        <label asp-for="Application.LastName" class="form-label required"></label>
        <input asp-for="Application.LastName" class="form-control" />
        <span asp-validation-for="Application.LastName" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Application.Email" class="form-label required"></label>
        <input asp-for="Application.Email" class="form-control" />
        <span asp-validation-for="Application.Email" class="text-danger"></span>
    </div>
    <div class="col-6">
        <label asp-for="Application.Phone" class="form-label required"></label>
        <input asp-for="Application.Phone" class="form-control" />
        <span asp-validation-for="Application.Phone" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Application.Address" class="form-label"></label>
        <input asp-for="Application.Address" class="form-control" placeholder="e.g. Athens, Greece" />
        <span asp-validation-for="Application.Address" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Application.Headline" class="form-label"></label>
        <input asp-for="Application.Headline" class="form-control" placeholder="e.g. Web Developer at Company" />
        <span asp-validation-for="Application.Headline" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Application.Skills" class="form-label"></label>
        <input asp-for="Application.Skills" class="form-control" placeholder="e.g. HTML, JavaScript, CSS" />
        <span asp-validation-for="Application.Skills" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Application.Summary" class="form-label"></label>
        <textarea asp-for="Application.Summary" class="form-control"></textarea>
        <span asp-validation-for="Application.Summary" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Application.Photo" class="form-label"></label>
        <input asp-for="Application.Photo" accept=".jpg,.jpeg" class="form-control" />
        <span asp-validation-for="Application.Photo" class="text-danger"></span>
        <div class="form-text">File types: .jpg, .jpeg. Maximum File Size: 1MB.</div>
    </div>
    <div class="col-12">
        <label asp-for="Application.Resume" class="form-label required"></label>
        <input asp-for="Application.Resume" accept=".pdf" class="form-control" />
        <span asp-validation-for="Application.Resume" class="text-danger"></span>
        <div class="form-text">File types: .pdf. Maximum File Size: 2MB.</div>
    </div>
    <div class="col-12">
        <input type="submit" value="Submit application" class="btn btn-primary" />
    </div>
</form>