@page "/Settings/Notifications"
@inject HttpClient Http
@attribute [Authorize]

<h3>Settings</h3>

<SettingsNavMenu />

<div class="max-width-960">
    <div class="sub-header">
        <h5>Notifications</h5>
    </div>
    <p class="fs-14">Lorem ipsum...</p>
</div>

@code {

}
