.profile-picture {
    width: 96px;
    height: 96px;
}

button {
    letter-spacing: 0.25px;
}

span.avatar {
    font-size: 32px;
}

.spinner-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}