<ul class="nav nav-tabs my-3">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Admin" Match="NavLinkMatch.All">
            Members
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Admin/Departments">
            Departments
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Admin/EmailTemplates">
            Email Templates
        </NavLink>
    </li>
</ul>

@code {

}
