.email-templates-list {
}

.email-template {
    background: white;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.05s ease-in-out;
}

.email-template:hover {
    background: #fafbfc;
    cursor: pointer;
}

.email-template:last-child {
    border-bottom: none;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions button {
    background: none;
    border: none;
    color: #777;
    padding: 3px 5px;
}

    .actions button:hover {
        color: #333;
    }

.actions svg {
    width: 18px;
    height: 18px;
}

.search-container {
    position: relative;
}

.search {
    max-width: 220px;
    text-indent: 20px;
}

.search-container svg {
    position: absolute;
    top: 6px;
    left: 5px;
}
