html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}

body {
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.fs-14 {
    font-size: 14px;
}

.fw-500 {
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.container {
    max-width: 960px;
}

.application-form {
    max-width: 960px;
    margin: 0 auto;
}

.form-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #35383a;
}

.form-label:not(.required):after {
    content: '(Optional)';
    color: grey;
    margin-left: 5px;
    font-weight: 400;
    font-size: small;
}

.required:after {
    content: '*';
    color: red;
    margin-left: 3px;
}

.job-item {
    border-radius: 0.25rem;
    border: 1px solid #ddd;
}

.job-item:hover {
    border: 1px solid #aaa;
}

.job-item span {
    color: #777;
    font-size: 0.875rem;
}

.job-details span:not(:first-child):before {
    content: '/';
    margin-right: 5px;
}

.job-description {
    overflow-wrap: break-word;
}